.body {
  display: flex;

  .sidebar {
    flex: 0 0 200px;
    margin-right: 10px;
  }

  .main {
    // 이게 없으면 .query-result-container의 width 만큼 .main의 width가 같이 자라서 화면을 벗어나게 된다.
    // refs: https://css-tricks.com/flexbox-truncated-text/
    min-width: 0;
    flex: 1 1 auto;
    position: relative;

    .button-group {
      margin-bottom: 6px;
    }
  }
}
