.idea/
.gradle/
build/

.terraform
.terraform.lock.hcl
terraform.tfstate*
plan.tfplan

deploy/**/application.properties
config.js

*.sql
!subprojects/database-migrator/src/main/resources/liquibase/*.sql
