.club-quest-page-body {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;

  #map {
    min-width: 200px;
    height: calc(100vw - 40px);
    max-height: 500px;
  }

  .map-manipulate-button-div {
    text-align: right;
    margin-bottom: 12px;
    .map-manipulate-button-container {
      display: inline-block;
    }
  }

  .place-list {
    flex: 1 1 0;
    overflow-y: scroll;
  }

  .body-item-fixed-height {
    flex: 0 0 auto;
  }
}
