@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

.bp3-running-text h1 {
  margin-top: 20px;
  margin-bottom: 40px;
}

.bp3-running-text h2 {
  margin-top: 20px;
}

.bp3-running-text h3 {
  margin-top: 20px;
}

.bp3-running-text h4 {
  margin: 12px 0 12px;
}

.bp3-running-text h5 {
  margin-top: 0;
}

.bp3-running-text h6 {
  margin-top: 0;
}

.app-body {
  max-width: 1024px;
  padding: 20px;
  margin: 0 auto 0;
}
